@*<Parameters>
[ { Name:'animation', DefaultValue:'random', Description:'' }
    , { Name:'numbers', DefaultValue:'true', Description:'' }
    , { Name:'dots', DefaultValue:'true', Description:'' }
    , { Name:'controls', DefaultValue:'true', Description:'' }
    , { Name:'enableNavigationKeys', DefaultValue:'true', Description:'' }
    , { Name:'navigation', DefaultValue:'true', Description:'' }
    , { Name:'images', DefaultValue:'', Description:'滚动图片来源，取自“内容管理”，请配置对应的“栏目设置”中的栏目编码。' }
    , { Name:'width', DefaultValue:'450px', Description:'宽度'}
    , { Name:'height', DefaultValue:'300px', Description:'高度'}
]
/Parameters>*@
@using DAF.Core;
@using DAF.Web;
@using DAF.CMS;
@{
    string id = CmsHelper.Random("imageSlideShow");
    string options = string.Empty;
    Dictionary<string, string> paras = CmsHelper.GetControlParas(Page.Paras);
    if (paras.ContainsKey("animation"))
    {
        options += string.Format("{0}_options.animation = '{1}';", id, paras["animation"]);
    }
    else
    {
        options += string.Format("{0}_options.animation = 'random';", id);
    }
    if (paras.ContainsKey("numbers"))
    {
        options += string.Format("{0}_options.numbers = {1};", id, paras["numbers"]);
    }
    if (paras.ContainsKey("dots"))
    {
        options += string.Format("{0}_options.dots = {1};", id, paras["dots"]);
    }
    if (paras.ContainsKey("controls"))
    {
        options += string.Format("{0}_options.controls = {1};", id, paras["controls"]);
    }
    if (paras.ContainsKey("enableNavigationKeys"))
    {
        options += string.Format("{0}_options.enable_navigation_keys = {1};", id, paras["enableNavigationKeys"]);
    }
    if (paras.ContainsKey("navigation"))
    {
        options += string.Format("{0}_options.navigation = {1};", id, paras["navigation"]);
    }

    var images = CmsHelper.GetContents(paras["images"]);
}
@AssetsHelper.CDNCss("skitter.styles.css")
@AssetsHelper.CDNScript("jquery.easing.js")
@AssetsHelper.CDNScript("jquery.animate-colors-min.js")
@AssetsHelper.CDNScript("jquery.skitter.min.js")
<div id="@id" class="image-slider box_skitter" style="width:@paras["width"];height:@paras["height"];">
    <ul>
    @foreach (var img in images)
    {
        <li>
            @if(!string.IsNullOrEmpty(img.LinkUrl))
            {
            @:<a target="_blank" href="@img.LinkUrl">
            }
            <img src="@(string.IsNullOrEmpty(img.ImageUrl) ? img.ContentUrl : img.ImageUrl)" alt="@img.Title" />
            <span>@img.Title</span>
            @if(!string.IsNullOrEmpty(img.LinkUrl))
            {
            @:</a>
            }
        </li>
    }
    </ul>
</div>
<script type="text/javascript">
    $(function () {
        var @(id)_options = {};
        @Html.Raw(options)
        $('#@id').skitter(@(id)_options);
    });
</script>