@using DAF.Web;
@{
    Layout = "~/_Html.cshtml";
}
@section head {
    @RenderPage(AssetsHelper.ThemePartial("_WindowHead.cshtml"))
    @RenderSection("head", false)
}
@section end {
    @RenderPage(AssetsHelper.ThemePartial("_WindowEnd.cshtml"))
    @RenderSection("end", false)
}
<div class="page container">
    @RenderBody()
</div>
