@using DAF.Core;
@using DAF.Web;
@using DAF.Web.Security;
@using DAF.SSO.Client;
@{
    Layout = "~/_Html.cshtml";

    var pageModel = this.PageModel<ResetPasswordInfo>();

    if (IsPost)
    {
        AntiForgery.Validate();

        if (Validation.IsValid())
        {
            var response = AuthHelper.ResetPassword(Request.Form["EmailOrMobile"]);
            if (response.Status == ResponseStatus.Success)
            {
                Context.RedirectLocal("~/Account/ResetPasswordSuccess.cshtml");
            }
            else
            {
                ModelState.AddFormError(response.Message);
            }
        }
    }
}
@section head {
    @AssetsHelper.CDNScript("jquery.validate.js")
    @AssetsHelper.CDNScript("jquery.validate.unobtrusive.js")
    @AssetsHelper.CDNScript("jquery-ui-timepicker-addon.js")
    <style type="text/css">
        .ui-buttonset button.ui-button {
            padding: 3px 6px;
        }

        .main {
            min-height: 50px;
            width: 400px;
            margin: 0px auto;
            height: 250px;
            padding: 10px;
        }

        .ui-buttonset {
            text-align: center;
            margin-top: 10px;
        }
    </style>
}
<div class="main">
    <div class="ui-corner-all ui-widget">
        <hgroup class="title">
            <h1>@(DAF.SSO.Resources.Locale(o => o.ResetPassword))</h1>
        </hgroup>

        <form method="post">
            @AntiForgery.GetHtml()
            @Html.ValidationSummary(true)
            <table class="table auto-margin">
                <tr>
                    <td>@(pageModel.CaptionFor(o => o.EmailOrMobile))</td>
                    <td>@(pageModel.TextBoxFor(o => o.EmailOrMobile, new { @class = "span2" }))</td>
                </tr>
            </table>
            <div class="form-actions">
                <button class="btn btn-primary">@(DAF.SSO.Resources.Locale(o => o.ResetPassword))</button>
            </div>
        </form>
    </div>
</div>
