@using DAF.Web;
@{
    Layout = "~/_Html.cshtml";
}
@section head {
    @AssetsHelper.CDNCss("bootstrap.my.dialog.css")
    @RenderPage(AssetsHelper.ThemePartial("_DialogHead.cshtml"))
    @RenderSection("head", false)
}
@section end {
    @RenderPage(AssetsHelper.ThemePartial("_DialogEnd.cshtml"))
    @RenderSection("end", false)
}
<header class="container page-hader">
    @RenderSection("header", false)
</header> 
<div class="page-body">    
    @RenderBody()
</div>