@using DAF.Core;
@using DAF.Web;
<div class="banner">
    @RenderPage("~/Controls/_ImageSlideShow.cshtml", new
{
    Numbers = false,
    Controls = false,
    EnableNavigationKeys = false,
    Navigation = false,
    Images = new ContentItem[] {
            new ContentItem(){ Title = "Image1", ImageUrl = "/Themes/Default/Skins/Default/Contents/Images/banner_1.jpg", LinkUrl = "#" },
            new ContentItem(){ Title = "Image2", ImageUrl = "/Themes/Default/Skins/Default/Contents/Images/banner_2.jpg", LinkUrl = "#" },
            new ContentItem(){ Title = "Image3", ImageUrl = "/Themes/Default/Skins/Default/Contents/Images/banner_3.jpg", LinkUrl = "#" }
       }
})
</div>
<h1>
    @if (!string.IsNullOrEmpty(LocaleHelper.Localizer.Get("SiteLogo", "DAF.Web")))
    {
        <img src="@LocaleHelper.Localizer.Get("SiteLogo", "DAF.Web")" alt="@LocaleHelper.Localizer.Get("SiteName", "DAF.Web")" />
    }
    <span>@LocaleHelper.Localizer.Get("SiteName", "DAF.Web")</span>
</h1>
@RenderPage("~/Account/_AccountInfo.cshtml")
