@using DAF.Core;
@using DAF.Web;
@using DAF.CMS.Models;
@{
    var pageModel = this.PageModel<PageTemplateControl>();
}

<div class="row">
    <div class="span12">
        @RenderPage("~/Controls/_SelectSites.cshtml")
    </div>
    <div class="span3">
        <div class="well">
            <h3>
                <span class="title">页面模板</span>
                <button class="btn btn-primary btn-mini" type="button" onclick="vm.NewTemplate();" title="新增页面模板"><i class="icon-plus"></i></button>
            </h3>
            <ul id="templates" class="nav nav-pills nav-stacked" data-bind="foreach:Templates">
                <li data-bind="attr:{id:TemplateName, title:TemplatePath}">
                    <a href="javascript:;" data-bind="click:$root.SelectTemplate"><span data-bind="text:TemplateName"></span></a>
                    <button class="btn btn-primary btn-mini" type="button" data-bind="click:$root.EditTemplate" title="编辑页面模板"><i class="icon-pencil"></i></button>
                    <button class="btn btn-danger btn-mini" type="button" data-bind="click:$root.RemoveTemplate" title="删除页面模板"><i class="icon-remove"></i></button>
                </li>
            </ul>
        </div>
    </div>
    <div class="data-container span9 lgap1" data-bind="visible:SelectedTemplate">
        <h3 data-bind="with:SelectedTemplate" class="pull-left bgap1">当前页面模板：<span data-bind="text:TemplateName"></span></h3>
        <div data-bind="with:SelectedTemplate" class="tgap1">
            <a href="javascript:SetLinks();" class="rgap2">编辑页面Links</a><a href="javascript:SetCSS();" class="rgap2">编辑页面CSS</a><a href="javascript:SetJS();" class="rgap2">编辑页面JavaScript</a>
        </div>
        <form method="post">
            <div class="table table-bordered">
                <div class="thead">
                    <div class="tr">
                        <div class="th span1"></div>
                        <div class="th th-input">@(pageModel.CaptionFor(o => o.Section))</div>
                        <div class="th th-input span5">@(pageModel.CaptionFor(o => o.ControlPath))</div>
                        @*<div class="th th-input span3">@(pageModel.CaptionFor(o => o.ControlParas))</div>*@
                        <div class="th th-input">@(pageModel.CaptionFor(o => o.Container))</div>
                        <div class="th"></div>
                    </div>
                </div>
                <div class="tbody" data-bind="foreach:Data">
                    <div class="tr" data-bind="attr:{id:TemplateControlId, idx:ShowOrder}">
                        <div class="td span1">
                            <button type="button" class="btn btn-mini btn-none">
                                <i class="icon-resize-vertical"></i>
                            </button>
                        </div>
                        <div class="td td-input">
                            <select data-bind="options: $root.Sections, optionsText: 'Name', optionsValue: 'Name', value: Section"></select>
                        </div>
                        <div class="td td-input span5">
                            <select data-bind="options: $root.ControlTypes, optionsText: 'Name', optionsValue: 'Path', value: ControlPath"></select>
                            <button type="button" class="btn btn-mini" data-bind="click:vm.EditItemControl" title="编辑控件参数"><i class="icon-th"></i></button>
                        </div>
                        @*<div class="td td-input span3">
                            @pageModel.TextBoxFor(o => o.ControlParas, new { data_bind = "value:ControlParas" })
                        </div>*@
                        <div class="td td-input">
                            @pageModel.TextBoxFor(o => o.Container, new { data_bind = "value:Container" })
                        </div>
                        <div class="td">
                            <button type="button" class="btn btn-danger btn-mini" data-bind="click:vm.RemoveItem" title="删除"><i class="icon-remove"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <button class="btn btn-primary" type="button" onclick="vm.AddItem();">
                    <i class="icon-plus"></i><span>新增</span></button>
                <button class="btn btn-success" type="button" onclick="vm.Save();">
                    <i class="icon-ok"></i><span>保存</span></button>
            </div>
        </form>
    </div>
    <div id="editTemplate" data-bind="with:EditingTemplate" class="hide">
        <table class="table table-bordered">
            <tr>
                <td class="caption">名称：</td>
                <td><span data-bind="text:TemplateName, visible:!$root.IsNew($data)"></span>
                    <input id="TemplateName" type="text" class="input-medium" required="true" data-bind="value:TemplateName, visible:$root.IsNew($data)" /></td>
            </tr>
            <tr>
                <td class="caption">布局：</td>
                <td>
                    <select data-bind="options: vm.TemplateTypes, optionsText: 'Name', optionsValue: 'Path', value: TemplatePath"></select>
                </td>
            </tr>
        </table>
    </div>
    <div id="controlParas" data-bind="with:EditingControl" class="hide">
        <!-- ko foreach:Parameters -->
        <table class="table table-bordered">
            <tr>
                <td class="caption">参数名称：</td>
                <td><span data-bind="text:Name"></span></td>
                <td class="caption">默认值：</td>
                <td><span data-bind="text:DefaultValue"></span></td>
            </tr>
            <tr>
                <td class="caption">参数说明：</td>
                <td colspan="3">
                    <span data-bind="text:Description"></span>
                </td>
            </tr>
            <tr>
                <td class="caption">参数值：</td>
                <td colspan="3">
                    <textarea class="span6" rows="4" data-bind="value:ParaValue"></textarea>
                </td>
            </tr>
        </table>
        <!-- /ko -->
    </div>
    <div id="linksDiv" class="hide">
        <textarea id="linksEditor" style="width:98%; height: 96%;"></textarea></div>
    <div id="cssDiv" class="hide">
        <textarea id="cssEditor" style="width:98%; height: 96%;"></textarea></div>
    <div id="jsDiv" class="hide">
        <textarea id="jsEditor" style="width:98%; height: 96%;"></textarea></div>
</div>

<script type="text/javascript">
    var vm;
    $(function () {
        vm = new KVM({
            getQueryUrl: function () { return '@(UrlHelper.ClientUrl("Api/PageTemplate/Data"))?siteId=' + vm.SelectedSite().SiteId + '&template=' + vm.SelectedTemplate().TemplateName(); },
            onQuerySuccess: function (data) { EnableItemSortable(); },
            getSaveUrl: function () { return '@(UrlHelper.ClientUrl("Api/PageTemplate/Save"))'; },
            createItem: function () {
                return {
                    TemplateControlId: ko.observable(IdGenerator.NewId()),
                    SiteId: ko.observable(vm.SelectedSite().SiteId),
                    TemplateName: ko.observable(vm.SelectedTemplate().TemplateName()),
                    Section: ko.observable(""),
                    ControlPath: ko.observable(""),
                    ControlParas: ko.observable(""),
                    Container: ko.observable(""),
                    Cached: ko.observable(false),
                    CacheMunites: ko.observable(0),
                    ShowOrder: ko.observable(vm.Data().length)
                };
            },
            onInit: function (self) {
                self.TemplateTypes = ko.observableArray([]);
                self.ControlTypes = ko.observableArray([]);
                self.Templates = ko.observableArray([]);
                self.SelectedSite = ko.observable(null);
                self.SelectedTemplate = ko.observable(null);
                self.EditingTemplate = ko.observable(null);
                self.EditingControl = ko.observable(null);
                self.Sections = ko.computed(function () {
                    var st = self.SelectedTemplate();
                    if (st) {
                        var path = st.TemplatePath();
                        var ts = $.grep(self.TemplateTypes(), function (n, i) { return n.Path().toLowerCase() == path.toLowerCase(); });
                        if (ts && ts.length > 0) {
                            return ts[0].Sections();
                        }
                    }
                    return null;
                });
                self.SelectSite = function (site) {
                    vm.SelectedSite(site);
                    GetJson('@(UrlHelper.ClientUrl("Api/PageTemplate/Templates"))?siteId=' + vm.SelectedSite().SiteId, function (data) {
                        ko.mapping.fromJS(data, null, vm.Templates);
                        if (vm.Templates().length > 0) {
                            vm.SelectTemplate(vm.Templates()[0]);
                        }
                        else {
                            vm.SelectTemplate(null);
                        }
                    });
                };
                self.NewTemplate = function () {
                    var template = {
                        SiteId: ko.observable(vm.SelectedSite().SiteId),
                        TemplateName: ko.observable(""),
                        TemplatePath: ko.observable(""),
                        AllowContentTypes: ko.observable(null)
                    };
                    template.DataState = DataState.New;
                    self.EditingTemplate(template);
                    SaveTemplate(true);
                };
                self.EditTemplate = function (item) {
                    self.EditingTemplate(item);
                    SaveTemplate(false);
                };
                self.RemoveTemplate = function (item) {
                    if (self.Data() && self.Data().length > 0) {
                        ShowMessage('提示信息', '该页面模板' + item.TemplateName() + '下包含控件，不允许删除！');
                        return false;
                    }
                    ShowConfirm("提示信息", "确认删除页面模板" + item.TemplateName() + "？",
                    function () {
                        GetJson('@(UrlHelper.ClientUrl("Api/PageTemplate/DeleteTemplate"))?siteId=' + vm.SelectedSite().SiteId + '&template=' + item.TemplateName(),
                            function (data) {
                                self.Templates.remove(item);
                                if (self.Templates().length > 0) {
                                    self.SelectTemplate(self.Templates()[0]);
                                }
                                ShowMessage(data.Title, data.Message);
                            });
                    });
                };
                self.SelectTemplate = function (template) {
                    self.SelectedTemplate(template);
                    if (template) {
                        self.GetData();
                    }
                };
                self.EditItemControl = function (item) {
                    var cons = $.grep(vm.ControlTypes(), function (n, i) { return n.Path().toLowerCase() == item.ControlPath().toLowerCase(); });
                    if (cons.length > 0) {
                        var con = cons[0];
                        if (con.Parameters().length > 0) {
                            var dic = Str2Dic(item.ControlParas());
                            $.each(con.Parameters(), function (i, n) {
                                if (!n.ParaValue)
                                    n.ParaValue = ko.observable(null);
                                var vals = $.grep(dic, function (item, idx) { return item.Key == n.Name(); });
                                n.ParaValue(vals.length > 0 ? vals[0].Value : '');
                            });
                        }
                        vm.EditingControl(con);
                        vm.EditingItem(item);
                        ShowDialog('#controlParas', '编辑控件参数', function () {
                            var dic = [];
                            var con = vm.EditingControl();
                            var paras = con.Parameters();
                            for (var i = 0; i < paras.length; i++) {
                                var val = paras[i].ParaValue();
                                if (!val || val.length <= 0) {
                                    val = paras[i].DefaultValue();
                                }
                                dic.push({ Key: paras[i].Name(), Value: val });
                            }
                            vm.EditingItem().ControlParas(Dic2Str(dic));
                        }, null, 660, 500);
                    }
                };
            },
            validate: function () {
                return $('.data-container>form').valid();
            }
        });
        ko.applyBindings(vm);
        $(document).off('selectsite').on('selectsite', OnSelectSite);
        GetJson('@(UrlHelper.ClientUrl("Api/PageTemplate/TemplateTypes"))', function (data) {
            ko.mapping.fromJS(data, null, vm.TemplateTypes);
            GetJson('@(UrlHelper.ClientUrl("Api/PageTemplate/ControlTypes"))', function (data) {
                ko.mapping.fromJS(data, null, vm.ControlTypes);
                SelectFirstSite();
            });
        });
    });

    function OnSelectSite(event, site) {
        vm.SelectSite(site);
    }

    function SaveTemplate(isNew) {
        ShowDialog('#editTemplate', isNew ? '新增页面模板' : '编辑页面模板', function () {
            var exists = $('#templates li[id=' + vm.EditingTemplate().TemplateName() + ']').length;
            if (isNew && exists > 0 || exists > 1) {
                ShowMessage("提示信息", "已经存在页面模板" + groupName);
                return true;
            }

            var url = isNew ? '@(UrlHelper.ClientUrl("Api/PageTemplate/AddTemplate"))' : '@(UrlHelper.ClientUrl("Api/PageTemplate/EditTemplate"))';
            PostJson(url, ko.mapping.toJS(vm.EditingTemplate),
                function (data) {
                    if (isNew) {
                        vm.EditingTemplate().DataState = DataState.None;
                        vm.Templates.push(vm.EditingTemplate());
                        vm.SelectTemplate(vm.EditingTemplate());
                    }
                    vm.EditingTemplate(null);
                    ShowMessage(data.Title, data.Message);
                });
        });
    }

    function EnableItemSortable() {
        $('.tbody').sortable({
            axis: 'y',
            start: function (event, ui) {
                var tr = ui.item.closest('.tr');
                var tbody = tr.closest('.tbody');
                $('.tr>.tbody', tbody).hide();
            },
            beforeStop: function (event, ui) {
                var tr = ui.item.closest('.tr');
                var tbody = tr.closest('.tbody');
                var idx = 0;
                $('>.tr:not(.ui-sortable-placeholder)', tbody).each(function () {
                    var item = ko.dataFor(this);
                    if (item && item.ShowOrder) {
                        item.ShowOrder(idx);
                        idx++;
                    }
                });
            }
        });
    }

    function SetLinks() {
        var links = vm.SelectedTemplate().PageLinks();
        $('#linksEditor').val(links);
        ShowDialog('#linksDiv', '编辑页面Links', function () {
            vm.SelectedPage().PageLinks($('#linksEditor').val());
        }, null, 660, 500);
    }

    function SetCSS() {
        var css = vm.SelectedTemplate().PageCSS();
        css = BeautifyCss(css);
        $('#cssEditor').val(css);
        ShowDialog('#cssDiv', '编辑页面CSS', function () {
            vm.SelectedPage().PageCSS($('#cssEditor').val());
        }, null, 660, 500);
    }

    function SetJS() {
        var js = vm.SelectedTemplate().PageJS();
        js = BeautifyJs(js);
        $('#jsEditor').val(js);
        ShowDialog('#jsDiv', '编辑页面JavaScript', function () {
            vm.SelectedPage().PageJS($('#jsEditor').val());
        }, null, 660, 500);
    }
</script>
