@using DAF.Core;
@using DAF.Web;
@using DAF.File.Site.Models;
@{
    Layout = "~/_Dialog.cshtml";
    string fileTypes = Request.QueryString["fileTypes"];
    string owner = Request.QueryString["owner"].DefaultIfNull("");
    string dialogId = Request.QueryString["dialogId"];
    IEnumerable<FileType> fts = null;
    if (!string.IsNullOrEmpty(fileTypes))
    {
        string[] types = fileTypes.Split(new char[] { '|', }, StringSplitOptions.RemoveEmptyEntries);
        fts = FileType.CommonTypes.Where(o => types.Contains(o.TypeCode, StringComparer.OrdinalIgnoreCase));
    }
    if (fts == null || fts.Count() <= 0)
    {
        fts = FileType.CommonTypes;
    }
    var regex = fts.Count() == 1 ? fts.ElementAt(0).RegexPattern : ".+$"; 
}
@section head {
    @AssetsHelper.CDNScript("knockout.js")
    @AssetsHelper.CDNScript("knockout.mapping-latest.js")
    @AssetsHelper.CDNScript("jquery.iframe-transport.js")
    @AssetsHelper.CDNScript("jquery.fileupload.js")
    @AssetsHelper.CDNScript("jquery.fileupload-fp.js")
    @AssetsHelper.CDNScript("jquery.fileupload.vm.js")
    <style type="text/css">
        .nav > li {
            width: 135px;
            overflow: hidden;
        }
        .nav > li > span, .nav > li > a {
            display: inline;
        }
    </style>
}
@section end {
    <script type="text/javascript">
        var vfm, sfvm;
        var fileTypes = [];
        var selectedFiles = [];
        var dlgId = '@(dialogId)';
        @foreach (var ft in fts)
        {
            <text>fileTypes.push({ type: '@(ft.TypeCode)', regex: /@(ft.RegexPattern)/i });</text>
        }

        $(function () {
            $('#fileTypes').tabs({
                show: function (event, ui) {
                    GetFiles(ui.panel);
                }
            });
            vfm = new FUVM('uploadForm', {
                baseUrl: "@(AuthHelper.CurrentClient.BaseUrl.TrimEnd('/'))",
                acceptFileTypes: /@(regex)/i
            });
            ko.applyBindings(vfm, document.getElementById('uploadForm'));

            sfvm = new SelectedFileVM();
            ko.applyBindings(sfvm, document.getElementById('selectedFiles'));

            OnReceiveMessage("fileuploaded", function (f) {
                if (f) {
                    var fts = $.grep(fileTypes, function(n, i) { return n.regex.test(f.file.name); });
                    if(fts.length > 0){
                        var div = $('#' + fts[0].type);
                        if(div.length > 0){
                            GetFiles(div[0]);
                            //window.setTimeout(function(){
                            //    vfm.Files.remove(f);
                            //}, 2000);
                        }
                    }
                }
            });
        });

        function GetFiles(ele){
            var vm = $(ele).data('viewmodel');
            var url = '/Api/File/Files?path=' + $(ele).prop('id');
            if (!vm) {
                GetJson(url,
                    function (data) {
                        vm = new FileVM();
                        ko.mapping.fromJS(data, null, vm.Files);
                        ko.applyBindings(vm, $(ele).get(0));
                        $(ele).data('viewmodel', vm);
                    },
                    function (error) {
                    });
            }
            else {
                GetJson(url,
                    function (data) {
                        ko.mapping.fromJS(data, null, vm.Files);
                    },
                    function (error) {
                    });
            }
        }

        function FileVM() {
            var self = this;
            self.Files = ko.observableArray([]);
            self.DeleteItem = function (item) {
                ShowConfirm('确认删除文件', '确认要删除文件' + item.name() + '？',
                    function () {
                        GetJson('/File/Do?file=' + item.FullName() + '&op=delete',
                            function (data) {
                                if (data.Status <= 0) {
                                    self.Files.remove(item);
                                }
                            });
                    });
            };
        }

        function SelectedFileVM() {
            var self = this;
            self.SelectedFiles = ko.observableArray([]);
            self.SelectFile = function(f) {
                var fs = $.grep(self.SelectedFiles(), function(n, i) { return n.name() == f.name() });
                if(fs.length <= 0) {
                    self.SelectedFiles.push(f);
                }
            };
            self.UnSelectedFile = function(f) {
                var fs = $.grep(self.SelectedFiles(), function(n, i) { return n.name() == f.name() });
                if(fs.length > 0) {
                    self.SelectedFiles.remove(f);
                }
            };
        }

        function OK() {
            PostMessage('fileselected', { owner: '@(owner)', files: ko.toJS(sfvm.SelectedFiles) });
            CloseDialog(dlgId);
        }

        function Cancel() {
            CloseDialog(dlgId);
        }
    </script>
}
<div class="row">
    <div class="span3">
        <form id="uploadForm" action="@(UrlHelper.ClientUrl("Handlers/UploadHandler.ashx"))" method="POST" enctype="multipart/form-data" onload="InitForm">
        <div>
            <button type="button" class="btn btn-primary" onclick="$('#fileSelector').trigger('click');" data-bind="enable: $root.CanAddFile()">
                <i class="icon-plus"></i>
                <span>选择文件</span>
            </button>
            <button type="button" class="btn btn-primary" onclick="vfm.StartUpload();">
                <i class="icon-upload"></i>
                <span>上传</span>
            </button>
        </div>
        <div data-bind="foreach:Files">
            <div class="panel ui-corner-all lgap0">
                <div>
                    <a data-bind="attr: { href: url }" target="_blank"><span data-bind="text:name"></span></a>
                    (<span data-bind="text:$root.formatFileSize(size())"></span>)
                        <button type="button" class="btn btn-warning btn-circle btn-mini" data-bind="visible: $root.Uploading($data), click: $root.CancelFile" title="取消上传">
                            <i class="icon-ban-circle"></i>
                        </button>
                </div>
                <div class="progress progress-striped active" style="height: 8px; margin-bottom: 0px; margin-top: 6px;">
                    <div class="bar" data-bind="style:{ width: $data.progress() + '%'}, attr: { title: $data.progress() + '%'} " style="height: 8px;"></div>
                </div>
            </div>
        </div>
        <input id="fileSelector" type="file" name="files[]" style="display: none;">
        </form>
        <div id="selectedFiles" class="well">
            <h3>已选中的文件</h3>
            <ul class="nav" data-bind="foreach: SelectedFiles">
                <li>
                    <button type="button" class="btn btn-danger btn-mini btn-circle" data-bind="click:$root.UnSelectedFile"><i class="icon-remove"></i></button>
                    <span data-bind="text:name"></span>
                </li>
            </ul>
        </div>
    </div>
    <div id="fileTypes" class="span9 lgap1">
        <ul>
            @foreach (var ft in fts)
            {
                <li><a href="#@(ft.TypeCode)">@ft.TypeName</a></li>
            }
        </ul>
        @foreach (var ft in fts)
        {
            <div  id="@ft.TypeCode" data-regex="@ft.RegexPattern" data-size="@ft.LimitFileSize" data-preview="@ft.ShowPreview">
                @if (ft.ShowPreview)
                {
                    <ul class="nav nav-pills" data-bind="foreach:Files">
                        <li>
                            <div class="well bg-none text-center" data-bind="attr: { title: name }">
                                <img class="img-none rect-small ui-corner-all" data-bind="attr: { src: url }" />
                                <span data-bind="text:name"></span><br />
                                <button type="button" class="btn btn-success btn-mini" data-bind="click:sfvm.SelectFile" title="选择文件"><i class="icon-ok"></i></button>
                                <button type="button" class="btn btn-danger btn-mini" data-bind="click:$root.DeleteItem" title="删除文件"><i class="icon-remove"></i></button>
                            </div>
                        </li>
                    </ul>
                }
                else
                {
                    <div class="table table-bordered">
                        <div class="thead">
                            <div class="tr">
                                <div class="th span4">文件名</div>
                                <div class="th span1">大小</div>
                                <div class="th span2">创建日期</div>
                                <div class="th">&nbsp;</div>
                            </div>
                        </div>
                        <div class="tbody" data-bind="foreach:Files">
                            <div class="tr">
                                <div class="td span5"><span data-bind="text:name"></span></div>
                                <div class="td span1"><span data-bind="text:size"></span></div>
                                <div class="td span2"><span data-bind="text:creationTime"></span></div>
                                <div class="td">
                                    <button type="button" class="btn btn-success btn-mini" data-bind="click:sfvm.SelectFile" title="选择文件"><i class="icon-ok"></i></button>
                                    <button type="button" class="btn btn-danger btn-mini" data-bind="click:$root.DeleteItem" title="删除文件"><i class="icon-remove"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
    @if(!string.IsNullOrEmpty(dialogId)){
    <div class="span12 form-actions">
        <button class="btn btn-success" type="button" onclick="OK();">
            <i class="icon-ok"></i><span>确定</span></button>
        <button class="btn" type="button" onclick="Cancel();">
            <i class="icon-remove"></i><span>取消</span></button>
    </div>
    }
</div>
