@using DAF.Core;
@using DAF.Web;
@using DAF.CMS;
@using DAF.CMS.Models;
@{
    Layout = "~/PageTemplates/MainRight.cshtml";
    var page = Page.Page as DAF.CMS.Models.WebPage;
    var template = Page.Template as LinkedListNode<PageTemplate>;
    Page.Title = page.PageTitle;
    Page.IsNested = Page.IsNestedPage;
    bool isFirst = template.Previous == null;
    bool isLast = template.Next == null;
    string links = string.Empty;
    string css = string.Empty;
    string js = string.Empty;
    if (isFirst)
    {
        links = CmsHelper.GetPageLinks(page, template);
        css = CmsHelper.GetPageCSS(page, template);
        js = CmsHelper.GetPageJS(page, template);
    }
}
@section head
{
    @if (isFirst)
    {
    @:@Html.Raw(links)
        if (!string.IsNullOrEmpty(css))
        {
    <style type="text/css">
        @Html.Raw(css)
    </style>
        }
    }
}

@section end
{
    @if (!string.IsNullOrEmpty(js))
    {
    <script type="text/javascript">
        @Html.Raw(js)
    </script>
    }
}
@section right
{
    @foreach (var con in CmsHelper.GetControls(page, template.Value, "right"))
    {
        <div class="container @con.Container" style="@con.Styles">
            @this.RenderCachedPage(con.CacheKey, con.CachedMunites, con.Path, new { Paras = con.Paras })
        </div>
    }
}
@if(isLast)
{
    foreach (var con in CmsHelper.GetControls(page, template.Value, "body"))
    {
        <div class="container @con.Container" style="@con.Styles">
            @this.RenderCachedPage(con.CacheKey, con.CachedMunites, con.Path, new { Paras = con.Paras })
        </div>
    }
}
else
{
    @RenderPage(template.Next.Value.TemplatePath, new { Page = page, Template = template.Next, IsNestedPage = true })
}
