@using DAF.Core;
@using DAF.Web;
@using DAF.CMS;
@using DAF.CMS.Models;
@{
    Layout = "~/Templates/TopMainBottom.cshtml";
    var pageData = Page.PageData as DAF.CMS.Models.WebPage;
    Page.Title = pageData.PageTitle;
}

@section head
{
    @if (!string.IsNullOrEmpty(pageData.Template.PageLinks))
    {
        @pageData.Template.PageLinks
    }
    @if (!string.IsNullOrEmpty(pageData.PageLinks))
    {
        @pageData.PageLinks
    }
    <style type="text/css">
    @if (!string.IsNullOrEmpty(pageData.Template.PageCSS))
    {
        @pageData.Template.PageCSS
    }
    @if (!string.IsNullOrEmpty(pageData.PageCSS))
    {
        @pageData.PageCSS
    }
    </style>
}

@section end
{
    <script type="text/javascript">
    @if (!string.IsNullOrEmpty(pageData.Template.PageJS))
    {
        @pageData.Template.PageJS
    }
    @if (!string.IsNullOrEmpty(pageData.PageJS))
    {
        @pageData.PageJS
    }
    </script>
}

@section top
{
    @foreach (var con in pageData.OrderedControls("top"))
    {
        <div class="container @con.Container">
            @RenderPage(con.Path, new { PageData = pageData, Paras = con.Paras })
        </div>
    }
}

@section bottom
{
    @foreach (var con in pageData.OrderedControls("bottom"))
    {
        <div class="container @con.Container">
            @RenderPage(con.Path, new { PageData = pageData, Paras = con.Paras })
        </div>
    }
}

@foreach (var con in pageData.OrderedControls("body"))
{
    <div class="container @con.Container">
        @RenderPage(con.Path, new { PageData = pageData, Paras = con.Paras })
    </div>
}