@using DAF.Core;
@using DAF.Web;
@using DAF.Web.Security;
@using DAF.SSO.Client;
@{
    Layout = "~/_Html.cshtml";

    var redirect = Request.QueryString["redirect"];
    if (redirect.IsEmpty())
    {
        redirect = Href("~/");
    }

    var retry = false;

    var pageModel = this.PageModel<SignOnInfo>();

    if (IsPost)
    {
        AntiForgery.Validate();

        if (Validation.IsValid())
        {
            var response = AuthHelper.SignOn(Request.Form["AccountOrEmailOrMobile"], Request.Form["Password"], Request.Form["RememberMe"].ConvertTo<bool>(false), Request.Form["Captcha"]);
            if (response.Status == ResponseStatus.Success)
            {
                Context.RedirectLocal(redirect);
            }
            else
            {
                retry = true;
                ModelState.AddFormError(response.Message);
            }
        }
    }
}
@section head {
    @AssetsHelper.CDNScript("jquery.validate.js")
    @AssetsHelper.CDNScript("jquery.validate.unobtrusive.js")
    @AssetsHelper.CDNScript("jquery-ui-timepicker-addon.js")
}
@section end {
    <script type="text/javascript">
        $(function () {
            $(window).bind('resizeWindow', OnResizeWindow);
        });

        function OnResizeWindow() {
            var mt = ($(window).height() - $('div.well').height()) / 2 - 50;
            $('div.well').css({ 'margin-top': mt + 'px' });
        }
    </script>
}
<div class="span5 well auto-margin">
    <hgroup>
        <h1>@(DAF.SSO.Resources.Locale(o => o.SignOn))</h1>
    </hgroup>
    <form method="post">
        @AntiForgery.GetHtml()
        @Html.ValidationSummary(true)
        <table class="table auto-margin">
            <tr>
                <td>@(pageModel.CaptionFor(o => o.AccountOrEmailOrMobile))</td>
                <td>@(pageModel.TextBoxFor(o => o.AccountOrEmailOrMobile))</td>
            </tr>
            <tr>
                <td>@(pageModel.CaptionFor(o => o.Password))</td>
                <td>@(pageModel.PasswordFor(o => o.Password))</td>
            </tr>
            <tr>
                <td colspan="2">
                    @Html.CheckBox("RememberMe", true)
                    <span>@(DAF.SSO.Resources.Locale(o => o.RememberMe))</span>
                </td>
            </tr>
            @if (retry)
            { 
                <tr>
                    <td>@(DAF.SSO.Resources.Locale(o => o.Captcha))</td>
                    <td>
                        <input id="Captcha" name="Captcha" type="text" />
                        <img id="imgCaptcha" src="/Account/Captcha?v=@DateTime.Now.Ticks" />
                        <a href="javascript:;" onclick="$('#imgCaptcha').attr('src', '/Account/Captcha?v=' + (new Date().getTime()));">@LocaleHelper.Localizer.Get("RefreshCaptcha", "DAF.SSO")</a>
                    </td>
                </tr>        
            }
        </table>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">@(DAF.SSO.Resources.Locale(o => o.SignOn))</button>
            <a href="/Account/Register">@(DAF.SSO.Resources.Locale(o => o.Register))</a>
            <a href="/Account/ResetPassword">@(DAF.SSO.Resources.Locale(o => o.ResetPassword))</a>
        </div>
    </form>
</div>
