@model DAF.SSO.Client.ChangePasswordInfo
@{
    Layout = "~/Views/Shared/_Html.cshtml";
}
@section head {
    @AssetsHelper.CDNScript("jquery.unobtrusive-ajax.js")
    @AssetsHelper.CDNScript("jquery.validate.js")
    @AssetsHelper.CDNScript("jquery.validate.unobtrusive.js")
    @AssetsHelper.CDNScript("jquery-ui-timepicker-addon.js")
    <style type="text/css">
        .ui-buttonset button.ui-button
        {
            padding: 3px 6px;
        }

        .main
        {
            min-height: 50px;
            width: 400px;
            margin: 0px auto;
            height: 250px;
            padding: 10px;
        }

        .ui-buttonset
        {
            text-align: center;
            margin-top: 10px;
        }
    </style>
}
<div class="main">
    <div class="ui-corner-all ui-widget">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
            <h2>Use this form to change your password.</h2>
        </hgroup>

        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            @Html.Hidden("ClientId", AuthHelper.CurrentClient.ClientId)
            @Html.Hidden("SessionId", Session.SessionID)
            @Html.Hidden("DeviceId", Request.UserHostAddress)
            @Html.Hidden("DeviceInfo", Request.UserAgent)
            <fieldset>
                <legend>Change Password Form</legend>
                <ol>
                    <li>
                        @Html.LabelFor(m => m.OldPassword)
                        @Html.PasswordFor(m => m.OldPassword)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.NewPassword)
                        @Html.PasswordFor(m => m.NewPassword)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.ConfirmPassword)
                        @Html.PasswordFor(m => m.ConfirmPassword)
                    </li>
                </ol>
                <div class="ui-buttonset">
                    <button class="ui-button">@LocaleHelper.Localizer.Get("ChangePassword", "DAF.Web.Security")</button>
                </div>
            </fieldset>
        }
    </div>
</div>
