@{
    Layout = "~/_Window.cshtml";
}
@section head {
    @RenderSection("head", false)
}
@section end {
    @RenderSection("end", false)
}
<div>
    @RenderSection("top")
</div>
<div>
    <div>
        @RenderSection("left")
    </div>
    <div>
        @RenderBody()
    </div>
    <div>
        @RenderSection("right")
    </div>
</div>
<div>
    @RenderSection("bottom")
</div>
