@using DAF.Core;
@using DAF.Core.Data;
@using DAF.Web;
@using DAF.CMS;
@using DAF.CMS.Models;
@{
    Layout = null;
    string siteId = Request.QueryString["siteId"];
    string code = Request.QueryString["code"];

    var query = CmsHelper.CategoryProvider.Query(siteId, code);
    var items = HierarchyHelper.Build(query, o => o.ParentId == null, (p, c) => c.ParentId == p.CategoryId, (p, c) => p.Children.Add(c));
}
<script type="text/javascript">
    function OnSelectCate(code, name) {
        $(document).trigger('selectcategory', [{ Code: code, Name: name }]);
    }
</script>

@Tree.Render(items, o => o.Children, o => o.CategoryId, null,
    @:<a href="javascript:;" title="@item.Name（@item.Code）" onclick="OnSelectCate('@item.Code', '@item.Name');">@item.Name</a>
    )
