@{
    Layout = Page.IsNested == true ? "~/_Null.cshtml" : "~/_Window.cshtml";
    string cssPrefix = Page.IsNested == true ? "section" : "page";
}
@section head {
    @RenderSection("head", false)
}
@section end {
    @RenderSection("end", false)
}
<aside class="@(cssPrefix)-left">
    @RenderSection("left")
</aside>
<div class="@(cssPrefix)-body">
    @RenderBody()
</div>
