@*<Parameters>
/Parameters>*@
@using DAF.Core;
@using DAF.Web;
@using DAF.CMS;
@using DAF.CMS.Models;
@{
    string id = PageData["id"] ?? "sites-div";
    var sites = CmsHelper.WebSiteProvider.GetSubSites(CmsHelper.CurrentSite.SiteName);
}
<div id="@id">
    <ul class="nav nav-pills">
        @foreach (var site in sites)
        {
            <li data-key="@site.SiteId"><a href="javascript:;" onclick="SelectSite({ SiteId:'@site.SiteId', Language: '@site.Language', HomePageId: '@site.HomePageId' });">@site.SubSiteName</a></li>
        }
    </ul>
</div>
<script type="text/javascript">
    function SelectSite(site) {
        var sitesDiv = $('#@id');
        sitesDiv.find('ul>li').removeClass('active');
        sitesDiv.find('ul>li[data-key="' + site.SiteId + '"]').addClass('active');
        $(document).trigger('selectsite', [site]);
        return false;
    }
    function SelectFirstSite() {
        $('#@(id) ul>li[data-key]:first>a').trigger('click');
    }
</script>
